:root {
    --base-navy: #221F87;
    --base-light: #FAEFFF;
    --gradient-pink: #891EBB;
    --purple--light: #F4F2F2;
    --off-white: #FDF8FF;
    --font-dark: #3A2394;
    --nav-height: 13vh;
}

body {
    background-color: var(--base-light);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

html {
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon {
    height: 100%;

    &--dark { 
        margin-right: 5rem;
     }
    &--light { fill: var(--font-light); }
}
