:root {
    --base-navy: #221F87;
    --base-light: #FAEFFF;
    --gradient-pink: #891EBB;
    --light-pink: #C29CD4;
    --purple--light: #F4F2F2;
    --off-white: #FDF8FF;
    --font-dark: #3A2394;
    --nav-height: 13vh;
}

body {
    background-color: var(--base-light);
    box-sizing: border-box;
    font-family: 'Baloo Da 2';
    height: 100vh;
    width: 100vw;
}

html {
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

fieldset {
    border: none;
    display: block;
    width: 100%;
    padding: 0;

    & > label:first-child {
        display: block;
    }
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon {
    height: 100%;

    &--dark { 
        margin-right: 5rem;
     }
}

.subpage__header {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.input {
    background-color: var(--off-white);
    border: 2px solid var(--light-pink);
    border-radius: 3px;
    color: var(--font-dark);
    font-size: 4rem;
    padding: 2rem;
}

.hidden {
    display: none;
}

