.form-element {
    margin-bottom: 2rem;

    &__details {
        border: 1px solid var(--light-pink);
        font-family: inherit;
        font-weight: inherit;
        line-height: 2.5rem;
        width: 100%;

        @media (min-width: 600px) {
            width: 60rem;
        }
    }
}

option {
    font-size: 1.5rem;
    padding: 0;
}

.calendar--mobile {
    font-size: 25px !important;
}