.expense-list-container {
    background-color: var(--base-light);
    color: var(--font-dark);
    flex: 1 1 auto;
    font-family: 'Baloo Da 2';
    font-size: 4rem;
    padding: 4rem 4rem var(--nav-height);
}
