.filter-button {
    & + & {
        margin-left: 2rem;
    }

    & img {
        margin-right: 1rem;
        height: 3rem;
    }
}

.filters-container {
    margin-bottom: 2rem;
}

.filters__settings {
    margin-top: 2rem;
}

.filters__button-container {
    display: flex;
    justify-content: flex-end;
}

.filters__criterion {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.filters__input {
    border: 1px solid var(--light-pink);
    font-size: 2rem;
    width: 20rem;

    & + & {
        margin-left: 2rem;
    }
}

input[name=sort] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid var(--font-dark);
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    transition: 0.2s all linear;
    vertical-align: middle;
    width: 3rem;

    &:checked {
        border: 1rem solid var(--font-dark);
    }

    & + label {
        cursor: pointer;
        margin-right: 2rem;
        position: relative;
        padding-left: 1rem;
    }
}
