.filter-button {
    border-radius: 15rem;
    display: flex;
    font-family: 'Baloo Da 2';
    font-size: 4rem;
    height: 10rem;
    padding: 2rem 4rem;

    & + & {
        margin-left: 2rem;
    }

    &--dark {
        background-color: var(--font-dark);
        color: var(--off-white);
    }

    &--light {
        background-color: transparent;
        border: 2px solid var(--font-dark);
        color: var(--font-dark);
    }

    & img {
        margin-right: 1rem;
    }
}

.filters-container {
    margin-bottom: 2rem;
}

.filters__settings {
    margin-top: 2rem;
}

.filters__button-container {
    display: flex;
    justify-content: flex-end;
}