.home__page {
    background-color: rgba(34, 31, 135, 1);
    height: 100vh;
}

.home__container {
    align-items: flex-start;
    background-image: url('../../images/homepage_figures.svg'), 
    radial-gradient(rgb(137, 30, 187) 20%,rgb(34, 31, 135) 99.99%, rgb(34, 31, 135) 100%);
    // radial-gradient(at 50% 55%, rgba(137, 30, 187, 0.9) 25%, rgba(34, 31, 135, 0.9));
    background-repeat: no-repeat;
    background-size: 107% auto;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    &__buttons {
        bottom: 0;
        background-image: url('../../images/gradient_wave.svg');
        background-size: cover;
        background-position-x: center;
        display: flex;
        flex-direction: column;
        height: 43%;
        align-items: center;
        position: absolute;
        width: 100%;
    }
}

.home__header {
    color: var(--off-white);
    font-family: inherit;
    font-size: 3.7rem;
    font-weight: 100;
    margin-top: 13rem;
}

.logo__pig {
    margin-top: 35%;
    max-height: 40rem;
    width: 65%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.highlighted {
    color: #FFB125;
}