.nav-container {
    background-color: var(--base-light);
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 5rem;
    position: fixed;
    width: 100%;


    @media (min-width: 1100px) {
        left: 50%;
        transform: translateX(-50%);
        width: 1100px;
    }
}

.nav-element {
    background-color: var(--font-dark);
    border-radius: 10rem;
    height: 7rem;
    padding: 1.5rem;
    width: 7rem;

    & + & {
        margin-left: 2rem;
    }
}