.nav-container {
    background-color: var(--base-light);
    bottom: 0;
    display: flex;
    height: var(--nav-height);
    justify-content: flex-end;
    padding: 2rem 5rem;
    position: fixed;
    width: 100vw;
}

.nav-element {
    background-color: var(--font-dark);
    border-radius: 10rem;
    height: 15rem;
    padding: 3rem;
    width: 15rem;

    & + & {
        margin-left: 3rem;
    }
}